.rightpanel {
  width: 25%;
  outline: 2px;
  float: top;
}
.input1 {
  float: left;
  width: 40%;
  clear: both;
}
.question1 {
      float: left;
      padding: 5px;
      margin-left: 5%;
      margin-top: 20px;
      width: 40%;
      clear: both;
   }
.answer {
      float: left;
      padding: 5px;
      margin-left: 10%;
      margin-top: 40px;
      width: 35%;
      outline: 1px solid #000000;
      clear: both;
    }
hr {
    float: left;
    border: none;
    background-color: black;
    height: 2px;
    clear: both;
    width: 45%;
    margin-left: 5%;
    margin-top: 40px
   }
.pages {
    float: left;
    margin-left: 5%;
    margin-top: 40px;
    width: 50%;
    clear: left;
   }
.question {
      float: left;
      padding: 1px;
      margin-left: 5%;
      margin-top: 20px;
      outline: 3px solid #000000;
      width: 40%;
      clear: both;
   }
.input1 {
      float: left;
      clear: both;
      width: 40%;
    }
