{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ASKer</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
  </head>
  {% if authterized == True %}
    {% include 'inc/navbar1.html' %}
  {% endif %}
  {% if authterized == False %}
    {% include 'inc/navbar.html' %}
  {% endif %}
  {% block content %} {% endblock content %}
  {% include 'inc/rightpanel.html' %}
  <body>
    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>