{% extends 'base.html' %}

{% block content %}
  <div align="left" class="ml-5 mt-2">
    <h1>Лучшие вопросы</h1>
    <a class="text-primery" href="{% url 'index' %}"><big>Новые вопросы</big></a>
  </div>
  {% for question in questions %}
    {% include 'inc/question.html' %}
  {% endfor %}
  {% include 'inc/paginator.html' %}
{% endblock content %}