{% extends 'base.html' %}

{% block content %}
  <div align="left" class="ml-5 mt-2">
    <h1>Тэг:<a class="text-primery" href="#"><big>bmstu</big></a></h1>
  </div>
  {% for question in questions %}
    {% include 'inc/question.html' %}
  {% endfor %}
  {% include 'inc/pages.html' %}
{% endblock content %}