{% load static %}

<div class="answer">
    <div class="container mt-2">
      <div class="media">
        <img src="{% static 'img/' %}{{question.question.profileID.avatar}}" width="64" height="64" class="mr-1">
        <a class="mt-2">{{answer.answer.body}}</a>
      </div>
      <form>
        <div class="mt-4">
          <a href="#" class="badge badge-secondary">{{answer.like}} like</a>
          <a href="#" class="badge badge-secondary">{{answer.dis}} dis</a>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Correct
            </label>
          </div>
          <a class="ml-5">Автор:<a href="#" class="ml-2 mr-5 text-primary">{{answer.answer.profileID.nickname}}</a></a>
          <small><p class="text-secondary mt-2" align="right">29.11.19 15:50</p></small>
        </div>
      </form>
    </div>
  </div>