{% load static %}
{% load bootstrap4 %}

<div align="left">
    <h1 class="ml-5 mt-2">Новый вопрос</h1>
  </div>
<form class="form input1 ml-5" method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      {%buttons%}
        <button type="submit" class="btn btn-primary">ask</button>
      {%endbuttons%}
</form> 