{% load static %}
{% load bootstrap4 %}

<div align="left">
  <h1 class="ml-5">Авторизация</h1>
  {% if warning == '1' %}
  <a class="text-danger ml-5">Введён неверный логин или пароль</a>
  {%  endif %}
  </div>
  <form class="form input1 ml-5" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {%buttons%}
      <button type="submit" class="btn btn-primary">Login</button>
    {%endbuttons%}
  </form> 