{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand text-light ml-3" href="{% url 'index' %}"><p><h1>ASKer</h1></p></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-2">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0 text-light" type="submit">Search</button>
    </form>
  </div>
  <button class="btn btn-danger mr-5 my-2 my-sm-0 text-light" type="submit"><a class="text-light" href="{%url 'ask'%}">ASK!</button><a>
  <div class="media mr-3">
    <div class="media-body">
      <a href="{% url 'login'%}" class="stretched-link mr-3" style="position: relative;">login</a>
      <a href="{% url 'signup'%}" class="stretched-link text-danger" style="position: relative;">register</a>
    </div>
  </div>
</nav>