{% load static %}

<div  align="left">
    <div class="question1">
      <div class="container mt-2 border-bottom">
        <div class="media">
          <img src="{% static 'img/' %}{{question.question.profileID.avatar}}" width="64" height="64" class="mr-1">
          <div class="media-body">
            <a href="#"><h5 class="mt text-primary">{{question.question.title}}</h5></a>
            <a>{{question.question.body}}</a>
          </div>
        </div>
        <form>
          <div class="mt-4">
            <a href="#" class="badge badge-secondary">{{question.like}} like</a>
            <a href="#" class="badge badge-secondary">{{question.dis}} dis</a>
            <a href="#" class="ml-3">answers({{question.ans}})</a>
            <a class="ml-5">Тэги:
              {% for tag in qtags %}
                {% if tag.questionID.id == question.question.id %}
                  <a href="{% url 'index_tags' tags=tag.TagID.title %}" class="ml-2 text-primary">{{tag.TagID.title}}</a>
                {% endif %}
              {% endfor %}
            </a>
            <a class="ml-5">Автор:<a href="#" class="ml-2 mr-5 text-primary">{{question.question.profileID.nickname}}</a></a>
            <small><p class="text-secondary mt-2" align="right">{{question.question.date}}</p></small>
          </div>
        </form>
      </div>
    </div>
  </div>