{% load static %}

<div align="right">
    <div class="rightpanel">
      <div align="center">
        <h1 class="text-dark">Популярные Теги</h1>
        <table border=0>
          <tr>
            <td align=center><a class="text-warning" href="{% url 'index_tags' tags='CS_GO' %}"><big>CS_GO</big></a></td>
            <td align=center><a class="text-danger" href="{% url 'index_tags' tags='Technopark' %}"><big>Technopark</big></a></td>
            <td align=center><a class="text-dark" href="{% url 'index_tags' tags='Java' %}"><big>Java</big></a></td>
          </tr>
          <tr>
            <td align=center><a class="text-danger" href="{% url 'index_tags' tags='mail_ru' %}"><big>mail_ru</big></a></td>
            <td align=center><a class="text-dark" href="{% url 'index_tags' tags='Go' %}"><big>Go</big></a></td>
            <td align=center><a class="text-primery" href="{% url 'index_tags' tags='bmstu' %}"><big>bmstu</big></a></td>
          </tr>
          <tr>
            <td align=center><a class="text-warning" href="{% url 'index_tags' tags='Witcher' %}"><big>Witcher</big></a></td>
            <td align=center><a class="text-success" href="{% url 'index_tags' tags='VK' %}"><big>VK</big></a></td>
            <td align=center><a class="text-dark" href="{% url 'index_tags' tags='CS_GO' %}"><big>c++</big></a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div align="right">
    <div class="rightpanel mt-5">
      <div align="center">
        <h1 class="text-dark">Лучшие юзеры</h1>
        <a class="text-info" href="#"><big>Dsprdo<br></big></a>
        <a class="text-info" href="#"><big>hailrake<br></big></a>
        <a class="text-info" href="#"><big>gryavol<br></big></a>
        <a class="text-info" href="#"><big>spulaemunlae<br></big></a>
      </div>
    </div>
  </div>