{% load static %}

<div align="left">
    <h1 class="ml-5">Настройки: Nickname</h1>\
  </div>
  <div class="input1">
    <form>
      <div class="form-group ml-5">
        <label for="exampleInputLogin">Логин</label>
        <input type="login" class="form-control ml-5" id="exampleInputLogin" placeholder="Enter your login">
      </div><div class="form-group ml-5">
        <label for="exampleInputEmail">Почта</label>
        <input type="email" class="form-control ml-5" id="exampleInputEmail" placeholder="email-adress">
      </div>
      <div class="form-group ml-5">
        <label for="exampleInputNick">Ник</label>
        <input type="nickname" class="form-control ml-5" id="exampleInputNick" placeholder="nickname">
      </div>
      <label class="ml-5" for="customFile">Аватар</label>
      <div class="media ml-5">
          <img src="{% static 'img/def.jpg' %}" class="ml-5" alt="Responsive image">
        </div>
      <div class="custom-file ml-5 mt-3">
        <input type="file" class="custom-file-input ml-5" id="customFile">
        <label class="custom-file-label ml-5" for="customFile">Choose file</label>
      </div>
      <button type="submit" class="btn btn-primary ml-5 mt-3">Войти</button>
    </form>
  </div>