{% load static %}
{% load bootstrap4 %}
    <form class="form input1 ml-5" method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      {%buttons%}
        <button type="submit" class="btn btn-primary">answer</button>
      {%endbuttons%}
    </form>